<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>weather_widget_vue</title>
    <style type=text/css>
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but weather_widget_vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <h1 class="black">Allmeteo Widget Demo</h1>
    <allmeteo-widget station="0311018" scale="1.0"></allmeteo-widget>
    <p class="black">
        Usage:
        <br>
        <code>
          &lt;allmeteo-widget station="0321018" scale="1.0"&gt;&lt;/allmeteo-widget&gt;
        </code>
        <br>
        <code>
          &lt;script src=".../js/app.js"&gt;&lt;/script&gt;
        </code>
    </p>
    <script src="https://weather.allmeteo.com/widget2/js/app.js"></script>
  </body>
</html>
