<template>
  <div class="widget-block">
      <div class="img-area"> 
        <div class="img-area-front">
          <h5 class="location">{{ name }}</h5>
          <p class="today">{{ time }}</p>
          <!---<div class="weather-desc">
              <span>Cloudy, storm</span>
          </div>-->
          <ul class="weather-block-info">
            <li title="Temperature">
              <img class="filter_white" :src="'https://weather.allmeteo.com/widget2/img/' + icon"/>
              <!-- <img class="filter_white current-weather" :src="require(`@/assets/icons/weather/${icon}`)"/> -->
            </li>
            <li>
              <ul class="weather-params" id="weather-params">
                  <li class="active" title="Temperature">
                    <i class="climacon temp"></i> 
                    <i :class="trend('temperature')"></i>  
                    <span>{{ temperature }}</span>
                  </li>
                  <li class="active" title="Pressure">
                    <i class="climacon pressure "></i>
                    <i :class="trend('pressure')"></i>   
                    <span>{{ pressure }}</span>
                  </li>
                  <li class="active" title="Humidity">
                    <i class="climacon humidity"></i> 
                    <i :class="trend('humidity')"></i>  
                    <span>{{ humidity }}</span>
                  </li>
                  <li class="active" title="Dew Point">
                    <i class="climacon dew-point measurement"></i>
                    <i :class="trend('dewPoint')"></i>
                    <span class="measurement">{{ dewPoint }}</span>
                  </li> 
                  <li class="active" title="Rain">
                    <i class="climacon rain"></i> 
                    <i :class="trend('rain')"></i>
                    <span>{{ rain }}</span>
                  </li>
              </ul>
            </li>            
          </ul>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'weather',
  props: {
  },
  computed:{
    temperatureBig() {
      var cur = '°',
          val = parseFloat(this.$store.state.data.temperature) - 273.15
      if (this.$store.state.settings.temp.toLowerCase() == 'k') {
        val = val + 273.15;
        cur = ' ';
      } else if (this.$store.state.settings.temp.toLowerCase() == 'f') {
        val = val * 1.8000;
      }
      return typeof this.$store.state.data.temperature !== 'undefined'?val.toFixed(0)+cur:'...'
    },
    temperature() {
      var cur = '°C', 
          val = parseFloat(this.$store.state.data.temperature) - 273.15
      if (this.$store.state.settings.temp.toLowerCase() == 'k') {
        cur = 'K'
        val = val + 273.15
      } else if (this.$store.state.settings.temp.toLowerCase() == 'f') {
        cur = '°F'
        val = val * 1.8000
      }
      return typeof this.$store.state.data.temperature !== 'undefined'?val.toFixed(2)+' '+cur:'...'
    },
    dewPoint() {
      var cur = '°C', 
          val = parseFloat(this.$store.state.data.dewPoint) - 273.15
      if (this.$store.state.settings.temp.toLowerCase() == 'k') {
        cur = 'K'
        val = val + 273.15
      } else if (this.$store.state.settings.temp.toLowerCase() == 'f') {
        cur = '°F'
        val = val * 1.8000
      }
      return typeof this.$store.state.data.dewPoint !== 'undefined'?val.toFixed(2)+' '+cur:'...'
    },
    pressure() {
      var cur = ' hPa', 
          val = parseFloat(this.$store.state.data.pressure) * 0.01
      if (this.$store.state.settings.press.toLowerCase() == 'pa') {
        cur = ' pa'
        val = val / 0.01
      } else if (this.$store.state.settings.press.toLowerCase() == 'psi') {
        cur = ' Psi'
        val = (val / 0.01) * 0.000145037738
      }
      return typeof this.$store.state.data.pressure !== 'undefined'?val.toFixed(2)+cur:'...'
    },
    humidity() {
      return typeof this.$store.state.data.humidity !== 'undefined'?this.$store.state.data.humidity+' %':'...'
    },
    rain() {
      return typeof this.$store.state.data.rain !== 'undefined'?this.$store.state.data.rain+' mm':'...'
    },
    weather() {
      return typeof this.$store.state.weather !== 'undefined'?this.$store.state.weather:'...'
    },
    name() {
      return typeof this.$store.state.name !== 'undefined'?this.$store.state.name:'...'
    },
    time() {
      return this.$store.state.time > 0?new Date(this.$store.state.time).toLocaleString():'...'
    },
    icon() {
      var image = ''
      switch (this.$store.state.weather){ 
        case "cloudy":
          image +="Cloud.svg"
          break;
        case "night-cloudy":
          image += "Cloud-Moon.svg"
          break;
        case "drizzle":
          image += "Cloud-Drizzle.svg"
          break;
        case "night-drizzle":
          image += "Cloud-Drizzle-Moon.svg"
          break;
        case "fog":
          image += "Cloud-Fog-Sun.svg"
          break;
        case "night-fog":
          image += "Cloud-Fog-Moon.svg"
          break;
        case "partly-cloudy":
          image += "Cloud-Sun.svg"
          break;
        case "night-partly-cloudy":
          image += "Cloud-Moon.svg"
          break;
        case "rain-sun":
          image += "Cloud-Rain-Sun.svg"
          break;
        case "rain-clear":
          image += "Cloud-Rain-Sun.svg"
          break;
        case "night-rain-clear":
          image += "Cloud-Rain-Moon.svg"
          break;
        case "rain":
          image += "Cloud-Rain.svg"
          break;
        case "night-rain":
          image += "Cloud-Rain-Moon.svg"
          break;
        case "snow":
          image += "Cloud-Snow-Sun.svg"
          break;
        case "night-snow":
          image += "Cloud-Snow-Moon.svg"
          break;
        case "stormy":
          image += "Cloud-Lightning.svg"
          break;
        case "sun":
          image += "Sun.svg"
          break;
        case "clear":
          image += "Sun.svg"
          break;
        case "night-clear":
          image += "Moon.svg"
          break;
        default:
          image += "Sun.svg"
      }
      return image;
    }
  },
  methods:{
    trend(measurement) {
      if (this.$store.state.data 
        && this.$store.state.data.trends 
        && this.$store.state.data.trends[measurement]) {
          if (this.$store.state.data.trends[measurement] > 0)
            return "climacon up"
          else if (this.$store.state.data.trends[measurement] < 0)
            return "climacon down"
        }
      return "climacon nochange"
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
