<template>
  <div v-bind:style="widgetClass" id="app" >
    <weather />
  </div>
</template>

<script>
import weather from './components/weather.vue'

export default {
  name: 'app',
  components: {
    weather
  },
  data () {
    return {
      sfactor: 1.0
    }
  },
  props: {
    station: String,
    scale: String
  },
  computed: {
    action() {
      return this.$store.state.action;
    },
    data() {
      return this.$store.state.data;
    },
    widgetClass() {
      return {
        transform: 'scale('+this.sfactor+')',
        transformOrigin: "50% 50%",
        display: 'inline-block'
      }
    }
  },
  mounted() {
    if (this.station) {
      this.$store.dispatch('changeStation', {text: this.station})
    } else {
      this.$store.dispatch('changeStation', {text: '0321018'})
    }
    if (this.scale) {
      this.sfactor = parseFloat(this.scale);
    }
  }
}
</script>

<style>
  @import url('http://fonts.googleapis.com/css?family=Roboto:400,100,300');
  @import './assets/styles/styles.css';

</style>
