  #app {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .widget-block {
    width: 480px;
    height: 300px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgb(5, 45, 63);
  }
  .img-area {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    position: relative;
  }
  .img-area img {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    display: block;
    z-index: 1;
    width: 280px !important;
    margin-top: -25px;
    margin-left: -50px;
  }
  .img-area .img-area-mask {
    position: absolute;
    width: 480px;
    height: 300px;
    background: #000;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    z-index: 2;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  .img-area .img-area-front {
    z-index: 3;
    position: absolute;
    width: 480px;
    height: 300px;
    top: 0;
    left: 0;
  }

  .temperature {
    text-align: right;
    margin: 0;
    font-size: 130px;
    height: 100%;
    line-height: 200px;
    position: relative;
    font-weight: 100;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate(-15px, 0);
    -moz-transform: translate(-15px, 0);
    -o-transform: translate(-15px, 0);
    -ms-transform: translate(-15px, 0);
    transform: translate(-15px, 0);
    margin-right: 0px;
  }
  
  .temperature.active {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .temperature-feels {
    position: absolute;
    font-size: 17px;
    bottom: 20px;
    left: 70px;
    font-weight: 300;
    line-height: 1em;
    color: rgba(255,255,255,0.85);
  }
  .weather-block-info {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
    margin: 0px auto 10px auto;
    position: relative;
    top: 18%;
  }
  .weather-block-info > li {
    float: left;
    width: 200px;
    height: 215px;
    margin: 0 5px;
    position: relative;
  }

  .weather-params {
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    position: absolute;
    top: 57%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .weather-params > li {
    overflow: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
  }
  .weather-params > li .climacon {
    display: block;
    font-size: 50px;
    float: left;
    margin-right: 10px;
    line-height: 37px;
    height: 37px;
    width: 37px;
    text-align: center;
  }
  .weather-params > li span {
    position: relative;
    top: 10px;
    font-weight: 300;
  }
  .weather-params > li.active {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .location,
  .today {
    position: absolute;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    width: 90%;
    max-width: 90%;
    margin: auto;
    top: 15px;
    left: 5%;
    white-space: nowrap;
  }
  .today {
    font-size: 14px;
    top: 50px;
    color: rgba(255,255,255,0.85);
  }
  .weather-desc {
    position: absolute;
    text-align: center;
    bottom: 35px;
    width: 100%;
  }
  .weather-desc > span {
    display: inline-block;
    padding: 5px 10px;
    background: rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
  }

  .pressure {
      display: inline-block;
      background-image: url("https://weather.allmeteo.com/widget2/img/pressure.png");
      background-size: 25px 25px;
      background-repeat: no-repeat;
      position: relative;
      top: 9px;
      left: 10px;
  }

  .humidity {
      display: inline-block;
      background-image: url("https://weather.allmeteo.com/widget2/img/humidity.png");
      background-size: 25px 25px;
      background-repeat: no-repeat;
      position: relative;
      top: 9px;
      left: 10px;
  }
  
  .rain {
      display: inline-block;
      background-image: url("https://weather.allmeteo.com/widget2/img/rain.png");
      background-size: 25px 25px;
      background-repeat: no-repeat;
      position: relative;
      top: 9px;
      left: 10px;
  }

  .temp {
      display: inline-block;
      background-image: url("https://weather.allmeteo.com/widget2/img/temperature.png");
      background-size: 25px 25px;
      background-repeat: no-repeat;
      position: relative;
      top: 9px;
      left: 10px;
  }

  .dew-point {
      display: inline-block;
      background-image: url("https://weather.allmeteo.com/widget2/img/dew-point.png");
      background-size: 25px 25px;
      background-repeat: no-repeat;
      position: relative;
      top: 9px;
      left: 10px;
  }
  
  .up {
      display: inline-block;
      background-image: url("https://weather.allmeteo.com/widget2/img/up.png");
      background-size: 15px 15px;
      background-repeat: no-repeat;
      position: relative;
      top: 15px;
      left: 0px;
      width: 12px !important;
  }

  .down {
      display: inline-block;
      background-image: url("https://weather.allmeteo.com/widget2/img/down.png");
      background-size: 15px 15px;
      background-repeat: no-repeat;
      position: relative;
      top: 15px;
      left: 0px;
      width: 12px !important;
  }

  .nochange  {
      display: inline-block;
      background-image: url("https://weather.allmeteo.com/widget2/img/nochange.png");
      background-size: 15px 15px;
      background-repeat: no-repeat;
      position: relative;
      top: 15px;
      left: 0px;
      width: 12px !important;
  }

  .xmeasurement {
      left: -18px;
  }

  .filter_white {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(101%) contrast(103%);
  }